# /DATA_PROTON/data/rayxu/git/QRFCP1/SControl/config/CryoSAR1_DAC.cfg
# YYYY-MM-DD HH:MM:SS = 2023-07-13 10:32:06
[Default]
order = DAC1A_ctrl,DAC1A_data,DAC1A_nc,DAC2A_ctrl,DAC2A_data,DAC2A_nc,DAC3A_ctrl,DAC3A_data,DAC3A_nc,DAC4A_ctrl,DAC4A_data,DAC4A_nc,DAC5A_ctrl,DAC5A_data,DAC5A_nc,DAC1B_ctrl,DAC1B_data,DAC1B_nc,DAC2B_ctrl,DAC2B_data,DAC2B_nc,DAC3B_ctrl,DAC3B_data,DAC3B_nc,DAC4B_ctrl,DAC4B_data,DAC4B_nc,DAC5B_ctrl,DAC5B_data,DAC5B_nc



[DAC1A_ctrl]
width = 4
type = hidden
label = DAC1A_ctrl
value = 0000
reverse = False

[DAC1A_data]
width = 10
type = int
label = VBN_REF_DAC
value = 1000000000
reverse = False

[DAC1A_nc]
width = 2
type = hidden
label = DAC1A_nc
value = 00
reverse = False

[DAC1B_ctrl]
width = 4
type = hidden
label = DAC1B_ctrl
value = 1000
reverse = False

[DAC1B_data]
width = 10
type = int
label = VBN_SW_DAC
value = 1000000000
reverse = False

[DAC1B_nc]
width = 2
type = hidden
label = DAC1B_nc
value = 00
reverse = False

[DAC2A_ctrl]
width = 4
type = hidden
label = DAC2A_ctrl
value = 0000
reverse = False

[DAC2A_data]
width = 10
type = int
label = VBN_CMP_DAC
value = 1000000000
reverse = False

[DAC2A_nc]
width = 2
type = hidden
label = DAC2A_nc
value = 00
reverse = False

[DAC2B_ctrl]
width = 4
type = hidden
label = DAC2B_ctrl
value = 1000
reverse = False

[DAC2B_data]
width = 10
type = int
label = VBP_TX_DAC
value = 1000000000
reverse = False

[DAC2B_nc]
width = 2
type = hidden
label = DAC2B_nc
value = 00
reverse = False

[DAC3A_ctrl]
width = 4
type = hidden
label = DAC3A_ctrl
value = 0000
reverse = False

[DAC3A_data]
width = 10
type = int
label = VBN_TX_DAC
value = 1000000000
reverse = False

[DAC3A_nc]
width = 2
type = hidden
label = DAC3A_nc
value = 00
reverse = False

[DAC3B_ctrl]
width = 4
type = hidden
label = DAC3B_ctrl
value = 1000
reverse = False

[DAC3B_data]
width = 10
type = int
label = VBP_CMP_DAC
value = 1000000000
reverse = False

[DAC3B_nc]
width = 2
type = hidden
label = DAC3B_nc
value = 00
reverse = False

[DAC4A_ctrl]
width = 4
type = hidden
label = DAC4A_ctrl
value = 0000
reverse = False

[DAC4A_data]
width = 10
type = int
label = VBN_SAMP_DAC
value = 1000000000
reverse = False

[DAC4A_nc]
width = 2
type = hidden
label = DAC4A_nc
value = 00
reverse = False

[DAC4B_ctrl]
width = 4
type = hidden
label = DAC4B_ctrl
value = 1000
reverse = False

[DAC4B_data]
width = 10
type = int
label = VBP_REF_DAC
value = 1000000000
reverse = False

[DAC4B_nc]
width = 2
type = hidden
label = DAC4B_nc
value = 00
reverse = False

[DAC5A_ctrl]
width = 4
type = hidden
label = DAC5A_ctrl
value = 0000
reverse = False

[DAC5A_data]
width = 10
type = int
label = VTH_SET_DAC
value = 1000000000
reverse = False

[DAC5A_nc]
width = 2
type = hidden
label = DAC5A_nc
value = 00
reverse = False

[DAC5B_ctrl]
width = 4
type = hidden
label = DAC5B_ctrl
value = 1000
reverse = False

[DAC5B_data]
width = 10
type = int
label = VBP_SW_DAC
value = 1000000000
reverse = False

[DAC5B_nc]
width = 2
type = hidden
label = DAC5B_nc
value = 00
reverse = False




